# Eclipse
.classpath
.project
.settings
.metadata
.directory

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store
.project
.classpath
target
*.patch

*.class
**/.gradle/
**/build/
/target

# Mobile Tools for Java (J2ME)
.mtj.tmp/


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/gwt-uploader-demo/war/
/gwt-uploader-demo/src/main/webapp/gwt_uploader_demo/
